#content {
    margin-top: 50px;
}

.ui-helper-clearfix:after {
    content: normal;
}

.ui-tabs-nav {
    overflow: hidden;
}

.container.forgecontainer {
    min-height: 450px;
}

table .second textarea, table .first textarea {
    width: auto;
}

.file-upload-grid {
    width: 75%;
}

.ui-growl-item {
    margin-top: 40px !important;
}

.ui-fileupload-content {
    min-height: 100px;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active {
    background-color: #eee;
}

#board .ui-dashboard {
    display: table;
    border-spacing: 15px;
}

#board .ui-dashboard-column {
    display: table-column;
}

#board .ui-dashboard-column .ui-panel {
    display: table-cell;
    width: 428px;
    margin: 10px;
}

#board .ui-dashboard-column {
    padding-bottom: 10px;
}

.ui-datalist-content button {
    margin: 5px;
}

#board-grid {
    margin: 15px;
    padding: 10px;
}

.preformatted {
    white-space: pre;
}

.prettyprint ol {
    margin: 0 0 9px 45px;
}