<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <ui:composition template="../../resources/template/main.xhtml">

        <ui:param name="pageTitle" value="Code Portal" />

        <ui:define name="header">
            Code Portal
        </ui:define>

        <ui:define name="main">
            <h:form prependId="false" id="board-grid">
                <!--@elvariable id="p" type="cz.vut.fit.gja.dto.ProjectDto"-->
                <p:dataTable id="dataTable" var="p"
                             value="#{searchController.findAllByQuery()}"
                             paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">
                        Projects
                    </f:facet>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="View Detail" />
                        </f:facet>
                        <a href="#{searchController.detailUrl(p.id)}">Show detail</a>
                        <!--<p:commandButton icon="ui-icon-search" title="View Detail" actionListener="#{searchController.detail(p.id)}"/>-->
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Title" />
                        </f:facet>
                        <h:outputText value="#{p.getTitleHighligted(searchController.getQueryForHighlight())}" escape="false" />
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Language" />
                        </f:facet>
                        <h:outputText value="#{p.languageDto.name}" />
                    </p:column>
                    
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Description" />
                        </f:facet>
                        <h:outputText value="#{p.getDescriptionHighlighted(searchController.getQueryForHighlight())}" escape="false" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </ui:define>

    </ui:composition>
</html>