<?xml version="1.0" encoding="UTF-8"?>
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">
    <h:form class="navbar-search pull-left">
        <!--<h:inputText value="#{searchDto.query}" class="search-query span2"/>-->
        <p:autoComplete dropdown="true" value="#{searchDto.query}"
                        completeMethod="#{projectController.autocompleteBean.suggestion}"
                        converter="#{tagConverter}"
                        var="t" itemLabel="#{t.name}" itemValue="#{t}"/>

        <h:commandButton value="Search!" action="#{searchController.search}" type="submit" style="display: none" />
    </h:form>
</ui:composition>