<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TagCreateDlg" widgetVar="TagCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{localization.CreateTagTitle}">
            <h:form id="TagCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tagController.selected != null}">
                        <p:outputLabel value="#{localization.CreateTagLabel_id}" for="id" />
                        <p:inputText id="id" value="#{tagController.selected.id}" title="#{localization.CreateTagTitle_id}" required="true" requiredMessage="#{localization.CreateTagRequiredMessage_id}"/>
                        <p:outputLabel value="#{localization.CreateTagLabel_name}" for="name" />
                        <p:inputText id="name" value="#{tagController.selected.name}" title="#{localization.CreateTagTitle_name}" required="true" requiredMessage="#{localization.CreateTagRequiredMessage_name}"/>
                        <p:outputLabel value="#{localization.CreateTagLabel_relevance}" for="relevance" />
                        <p:inputText id="relevance" value="#{tagController.selected.relevance}" title="#{localization.CreateTagTitle_relevance}" required="true" requiredMessage="#{localization.CreateTagRequiredMessage_relevance}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tagController.create}" value="#{localization.Save}" update="display,:TagListForm:datalist,:growl" oncomplete="handleSubmit(args,'TagCreateDialog');"/>
                    <p:commandButton value="#{localization.Cancel}" onclick="TagCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
