<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{localization.ListTagTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="TagListForm">
                <p:panel header="#{localization.ListTagTitle}">
                    <p:dataTable id="datalist" value="#{tagController.items}" var="item"
                                 selectionMode="single" selection="#{tagController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListTagTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListTagTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListTagTitle_relevance}"/>
                            </f:facet>
                            <h:outputText value="#{item.relevance}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{localization.Create}" actionListener="#{tagController.prepareCreate}" update=":TagCreateForm" oncomplete="PF('TagCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{localization.View}" update=":TagViewForm" oncomplete="PF('TagViewDialog').show()" disabled="#{empty tagController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{localization.Edit}" update=":TagEditForm" oncomplete="PF('TagEditDialog').show()" disabled="#{empty tagController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{localization.Delete}" actionListener="#{tagController.destroy}" update=":growl,datalist" disabled="#{empty tagController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
