<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TagViewDlg" widgetVar="TagViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{localization.ViewTagTitle}">
            <h:form id="TagViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tagController.selected != null}">
                        <h:outputText value="#{localization.ViewTagLabel_id}"/>
                        <h:outputText value="#{tagController.selected.id}" title="#{localization.ViewTagTitle_id}"/>
                        <h:outputText value="#{localization.ViewTagLabel_name}"/>
                        <h:outputText value="#{tagController.selected.name}" title="#{localization.ViewTagTitle_name}"/>
                        <h:outputText value="#{localization.ViewTagLabel_relevance}"/>
                        <h:outputText value="#{tagController.selected.relevance}" title="#{localization.ViewTagTitle_relevance}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{localization.Close}" onclick="TagViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
