<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProjectCreateDlg" widgetVar="ProjectCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{localization.CreateProjectTitle}">
            <h:form id="ProjectCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{projectController.selected != null}">
                        <p:outputLabel value="#{localization.CreateProjectLabel_id}" for="id" />
                        <p:inputText id="id" value="#{projectController.selected.id}" title="#{localization.CreateProjectTitle_id}" required="true" requiredMessage="#{localization.CreateProjectRequiredMessage_id}"/>
                        <p:outputLabel value="#{localization.CreateProjectLabel_description}" for="description" />
                        <p:inputTextarea rows="4" cols="30" id="description" value="#{projectController.selected.description}" title="#{localization.CreateProjectTitle_description}" />
                        <p:outputLabel value="#{localization.CreateProjectLabel_path}" for="path" />
                        <p:inputTextarea rows="4" cols="30" id="path" value="#{projectController.selected.path}" title="#{localization.CreateProjectTitle_path}" required="true" requiredMessage="#{localization.CreateProjectRequiredMessage_path}"/>
                        <p:outputLabel value="#{localization.CreateProjectLabel_created}" for="created" />
                        <p:calendar id="created" pattern="MM/dd/yyyy HH:mm:ss" value="#{projectController.selected.created}" title="#{localization.EditProjectTitle_created}" required="true" requiredMessage="#{localization.EditProjectRequiredMessage_created}" showOn="button"/>
                        <p:outputLabel value="#{localization.CreateProjectLabel_exprired}" for="exprired" />
                        <p:calendar id="exprired" pattern="MM/dd/yyyy HH:mm:ss" value="#{projectController.selected.exprired}" title="#{localization.EditProjectTitle_exprired}"  showOn="button"/>
                        <p:outputLabel value="#{localization.CreateProjectLabel_rating}" for="rating" />
                        <p:inputText id="rating" value="#{projectController.selected.rating}" title="#{localization.CreateProjectTitle_rating}" />
                        <p:outputLabel value="#{localization.CreateProjectLabel_votes}" for="votes" />
                        <p:inputText id="votes" value="#{projectController.selected.votes}" title="#{localization.CreateProjectTitle_votes}" required="true" requiredMessage="#{localization.CreateProjectRequiredMessage_votes}"/>
                        <p:outputLabel value="#{localization.CreateProjectLabel_downloadCount}" for="downloadCount" />
                        <p:inputText id="downloadCount" value="#{projectController.selected.downloadCount}" title="#{localization.CreateProjectTitle_downloadCount}" required="true" requiredMessage="#{localization.CreateProjectRequiredMessage_downloadCount}"/>
                        <p:outputLabel value="#{localization.CreateProjectLabel_languageId}" for="languageId" />
                        <p:selectOneMenu id="languageId" value="#{projectController.selected.language}" >
                            <f:selectItems value="#{languageController.itemsAvailableSelectOne}"
                                           var="languageIdItem"
                                           itemValue="#{languageIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{projectController.create}" value="#{localization.Save}" update="display,:ProjectListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProjectCreateDialog');"/>
                    <p:commandButton value="#{localization.Cancel}" onclick="ProjectCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
