<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="../../resources/template/main.xhtml">

        <ui:define name="header">
            Code Portal - Project Detail
        </ui:define>


        <ui:param name="pageTitle" value="Project detail | Code Portal" />

        <ui:define name="main">
            <f:metadata>
                <f:event type="preRenderView" listener="#{projectController.load}"/>
            </f:metadata>
            <c:set var="projectDto" value="#{projectController.projectDto}"/>
            <!--@elvariable id="projectDto" type="cz.vut.fit.gja.dto.ProjectDto"-->

            <h:panelGroup rendered="#{projectDto == null}">
                <br/>
                <h3>An error occured</h3>
                <p>This project does not exist :-(</p>
            </h:panelGroup>

            <h:form id="form" rendered="#{projectDto != null}">
                <!-- DESCRIPTION -->
                <div class="well">
                    <h2>#{projectDto.title}</h2>
                    <h:outputText value="#{projectDto.description}" escape="false" />
                </div>

                <!-- SOURCE CODE -->
                <div class="well">
                    <h2>Source code</h2>

                    <!-- JUST ONE FILE -->
                    <h:panelGroup rendered="#{projectController.oneFile}">
                        <script type="text/javascript" src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
                        <pre class="prettyprint linenums lang-scm">#{projectController.getSourceCode()}</pre>
                    </h:panelGroup>

                    <!-- MORE FILES -->
                    <p:treeTable rendered="#{projectController.moreFiles}" id="treetable" value="#{projectController.root}" var="scfile"> 

                        <p:column style="width:60%">  
                            <f:facet name="header">  
                                File name
                            </f:facet>  
                            <h:outputText value="#{scfile.name}" />  
                        </p:column>  

                        <p:column style="width:10%">  
                            <f:facet name="header">  
                                Size  
                            </f:facet>  
                            <h:outputText value="#{scfile.sizeInKb} kB" />  
                        </p:column>  

                        <p:column style="width:26%">  
                            <f:facet name="header">  
                                Type  
                            </f:facet>  
                            <h:outputText value="#{scfile.type}" />  
                        </p:column>

                        <p:column style="width:4%">  
                            <p:commandLink update=":form:documentPanel" oncomplete="PF('documentDialog').show()" title="View Detail" styleClass="ui-icon ui-icon-search" rendered="#{scfile.type != 'Folder'}">  
                                <f:setPropertyActionListener value="#{scfile}" target="#{projectController.selectedSCFile}" />  
                            </p:commandLink>  
                        </p:column> 
                    </p:treeTable>

                    <!-- DIALOG -->
                    <p:dialog id="dialog" header="File Detail" showEffect="fade" widgetVar="documentDialog" modal="true">  
                        <p:scrollPanel id="documentPanel" mode="native" style="width:700px;height:400px">
                            <h:panelGroup rendered="#{not empty projectController.selectedSCFile}">
                                <script type="text/javascript" src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
                                <pre class="prettyprint linenums lang-scm">#{projectController.getSourceCodeFromFile(projectController.selectedSCFile.file)}</pre>
                            </h:panelGroup>

                        </p:scrollPanel>  
                    </p:dialog>
                </div>

                <!-- TABLE WITH INFORMATION -->
                <div class="well">
                    <p:growl id="messages" showDetail="true"/>

                    <h:panelGrid columns="2" cellpadding="5" border="1" id="table">

                        <h:outputText value="Language:" />
                        <h:outputText value="#{projectDto.languageDto.name}" escape="false" />

                        <h:outputText value="Tags:" />
                        <h:outputText value="#{projectDto.tags}" escape="false" />

                        <h:outputText value="Created:" />
                        <h:outputText value="#{projectDto.stringCreated}" escape="false" />

                        <h:outputText value="Expiration:" />
                        <h:outputText value="#{projectDto.stringExpiration}" escape="false" />

                        <h:outputText value="Downloaded:" />
                        <h:outputText value="#{projectDto.downloadCount}×" />

                        <h:outputLabel for="rating" value="Rating:"/>
                        <p:rating id="rating" value="#{projectController.rating}" cancel="false" readonly="true"/>

                        <h:outputText value="Votes:"/>
                        <h:outputText id="votes" value="#{projectController.votes}" />

                        <h:outputLabel for="rate" value="Your rating: "/>
                        <p:rating id="rate" cancel="false" widgetVar="rateWidget" onRate="rateWidget.disable()">
                            <p:ajax event="rate" listener="#{projectController.onRate}" update="messages votes rating"/>
                        </p:rating>

                    </h:panelGrid>

                    <br/>
                    <p:commandButton value="Download ZIP" ajax="false">
                        <p:fileDownload value="#{projectController.download}" />
                    </p:commandButton>
                </div>

            </h:form>
        </ui:define>

    </ui:composition>
</html>
