<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{localization.ListProjectTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ProjectListForm">
                <p:panel header="#{localization.ListProjectTitle}">
                    <p:dataTable id="datalist" value="#{projectController.items}" var="item"
                                 selectionMode="single" selection="#{projectController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListProjectTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListProjectTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListProjectTitle_path}"/>
                            </f:facet>
                            <h:outputText value="#{item.path}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListProjectTitle_created}"/>
                            </f:facet>
                            <h:outputText value="#{item.created}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListProjectTitle_exprired}"/>
                            </f:facet>
                            <h:outputText value="#{item.exprired}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListProjectTitle_rating}"/>
                            </f:facet>
                            <h:outputText value="#{item.rating}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListProjectTitle_votes}"/>
                            </f:facet>
                            <h:outputText value="#{item.votes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListProjectTitle_downloadCount}"/>
                            </f:facet>
                            <h:outputText value="#{item.downloadCount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListProjectTitle_languageId}"/>
                            </f:facet>
                            <h:outputText value="#{item.language}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{localization.Create}" actionListener="#{projectController.prepareCreate}" update=":ProjectCreateForm" oncomplete="PF('ProjectCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{localization.View}" update=":ProjectViewForm" oncomplete="PF('ProjectViewDialog').show()" disabled="#{empty projectController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{localization.Edit}" update=":ProjectEditForm" oncomplete="PF('ProjectEditDialog').show()" disabled="#{empty projectController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{localization.Delete}" actionListener="#{projectController.destroy}" update=":growl,datalist" disabled="#{empty projectController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
