<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProjectViewDlg" widgetVar="ProjectViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{localization.ViewProjectTitle}">
            <h:form id="ProjectViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{projectController.selected != null}">
                        <h:outputText value="#{localization.ViewProjectLabel_id}"/>
                        <h:outputText value="#{projectController.selected.id}" title="#{localization.ViewProjectTitle_id}"/>
                        <h:outputText value="#{localization.ViewProjectLabel_description}"/>
                        <h:outputText value="#{projectController.selected.description}" title="#{localization.ViewProjectTitle_description}"/>
                        <h:outputText value="#{localization.ViewProjectLabel_path}"/>
                        <h:outputText value="#{projectController.selected.path}" title="#{localization.ViewProjectTitle_path}"/>
                        <h:outputText value="#{localization.ViewProjectLabel_created}"/>
                        <h:outputText value="#{projectController.selected.created}" title="#{localization.ViewProjectTitle_created}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{localization.ViewProjectLabel_exprired}"/>
                        <h:outputText value="#{projectController.selected.exprired}" title="#{localization.ViewProjectTitle_exprired}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{localization.ViewProjectLabel_rating}"/>
                        <h:outputText value="#{projectController.selected.rating}" title="#{localization.ViewProjectTitle_rating}"/>
                        <h:outputText value="#{localization.ViewProjectLabel_votes}"/>
                        <h:outputText value="#{projectController.selected.votes}" title="#{localization.ViewProjectTitle_votes}"/>
                        <h:outputText value="#{localization.ViewProjectLabel_downloadCount}"/>
                        <h:outputText value="#{projectController.selected.downloadCount}" title="#{localization.ViewProjectTitle_downloadCount}"/>
                        <h:outputText value="#{localization.ViewProjectLabel_languageId}"/>
                        <h:outputText value="#{projectController.selected.language}" title="#{localization.ViewProjectTitle_languageId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{localization.Close}" onclick="ProjectViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
