<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LanguageCreateDlg" widgetVar="LanguageCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{localization.CreateLanguageTitle}">
            <h:form id="LanguageCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{languageController.selected != null}">
                        <p:outputLabel value="#{localization.CreateLanguageLabel_id}" for="id" />
                        <p:inputText id="id" value="#{languageController.selected.id}" title="#{localization.CreateLanguageTitle_id}" required="true" requiredMessage="#{localization.CreateLanguageRequiredMessage_id}"/>
                        <p:outputLabel value="#{localization.CreateLanguageLabel_extension}" for="extension" />
                        <p:inputText id="extension" value="#{languageController.selected.extension}" title="#{localization.CreateLanguageTitle_extension}" required="true" requiredMessage="#{localization.CreateLanguageRequiredMessage_extension}"/>
                        <p:outputLabel value="#{localization.CreateLanguageLabel_highlightMark}" for="highlightMark" />
                        <p:inputText id="highlightMark" value="#{languageController.selected.highlightMark}" title="#{localization.CreateLanguageTitle_highlightMark}" required="true" requiredMessage="#{localization.CreateLanguageRequiredMessage_highlightMark}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{languageController.create}" value="#{localization.Save}" update="display,:LanguageListForm:datalist,:growl" oncomplete="handleSubmit(args,'LanguageCreateDialog');"/>
                    <p:commandButton value="#{localization.Cancel}" onclick="LanguageCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
