<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{localization.ListLanguageTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="LanguageListForm">
                <p:panel header="#{localization.ListLanguageTitle}">
                    <p:dataTable id="datalist" value="#{languageController.items}" var="item"
                                 selectionMode="single" selection="#{languageController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListLanguageTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListLanguageTitle_extension}"/>
                            </f:facet>
                            <h:outputText value="#{item.extension}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{localization.ListLanguageTitle_highlightMark}"/>
                            </f:facet>
                            <h:outputText value="#{item.highlightMark}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{localization.Create}" actionListener="#{languageController.prepareCreate}" update=":LanguageCreateForm" oncomplete="PF('LanguageCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{localization.View}" update=":LanguageViewForm" oncomplete="PF('LanguageViewDialog').show()" disabled="#{empty languageController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{localization.Edit}" update=":LanguageEditForm" oncomplete="PF('LanguageEditDialog').show()" disabled="#{empty languageController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{localization.Delete}" actionListener="#{languageController.destroy}" update=":growl,datalist" disabled="#{empty languageController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
