<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LanguageViewDlg" widgetVar="LanguageViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{localization.ViewLanguageTitle}">
            <h:form id="LanguageViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{languageController.selected != null}">
                        <h:outputText value="#{localization.ViewLanguageLabel_id}"/>
                        <h:outputText value="#{languageController.selected.id}" title="#{localization.ViewLanguageTitle_id}"/>
                        <h:outputText value="#{localization.ViewLanguageLabel_extension}"/>
                        <h:outputText value="#{languageController.selected.extension}" title="#{localization.ViewLanguageTitle_extension}"/>
                        <h:outputText value="#{localization.ViewLanguageLabel_highlightMark}"/>
                        <h:outputText value="#{languageController.selected.highlightMark}" title="#{localization.ViewLanguageTitle_highlightMark}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{localization.Close}" onclick="LanguageViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
