<?xml version="1.0" encoding="UTF-8"?>

<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">

    <p:messages showDetail="true" autoUpdate="true" closable="true" />

    <h:panelGrid columns="3" columnClasses="first,second,third">

        <p:outputLabel for="language" value="Language:"/>
        <p:selectOneMenu id="language" value="#{projectDto.language}" required="true">
            <f:selectItem itemLabel="Select language" itemValue="" />
            <f:selectItems value="#{projectController.languagesSelectItems}" />
        </p:selectOneMenu>
        <p:message for="language" display="language"/>

        <p:outputLabel for="title" value="Title/Name:"/>
        <p:inputText id="title" value="#{projectDto.title}" required="true"/>
        <p:message for="title" display="title"/>

        <p:outputLabel for="expiration" value="Expiration:"/>
        <p:calendar id="expiration" value="#{projectDto.expiration}" rendered="true"/>
        <p:message for="expiration" display="expiration"/>

        <!--@elvariable id="t" type="cz.vut.fit.gja.dto.TagDto"-->
        <p:outputLabel for="tags" value="Tags:"/>
        <p:autoComplete id="tags"
                        value="#{projectDto.selectedTags}"
                        completeMethod="#{projectController.autocompleteBean.suggestion}"
                        multiple="true"
                        maxResults="10"
                        converter="#{tagConverter}"
                        var="t" itemLabel="#{t.name}" itemValue="#{t}"/>
        <p:message for="tags" display="tags"/>

        <p:outputLabel for="description" value="Description:"/>
        <p:editor id="description" value="#{projectDto.description}"
                         maxlength="#{FacesConstants.DESCRIPTION_LENGTH}"
                         width="497"/>
        <p:message for="expiration" display="description"/>

        <p:remoteCommand name="loadProperties">
            <f:setPropertyActionListener for="language" value="#{projectDto.language}" target="#{projectDto.language}"/>
            <f:setPropertyActionListener for="title" value="#{projectDto.title}" target="#{projectDto.title}"/>
            <f:setPropertyActionListener for="expiration" value="#{projectDto.expiration}" target="#{projectDto.expiration}"/>
        </p:remoteCommand>

        <!--<p:commandButton value="Upload" type="submit" action="# {uploadCodeController.submit}" />-->

    </h:panelGrid>
</ui:composition>
