<?xml version="1.0" encoding="UTF-8"?>

<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">

    <p:messages showDetail="true" autoUpdate="true" closable="true"/>

    <h:panelGrid columns="1" styleClass="file-upload-grid">

        <p:outputLabel for="files" value="Zip file:"/>
        <p:fileUpload id="files" fileUploadListener="#{uploadCodeController.uploadZipFile}"
                      mode="advanced"
                      dragDropSupport="true"
                      allowTypes="/(\.|\/)(zip|ZIP)$/"
                      sizeLimit="10000000"
                      update="growl"
                      required="true"
                      multiple="false"
                      process="@this">
            <!--<h:outputText value="# {myBean.myFileName}"/>-->
        </p:fileUpload>
        <p:message for="files" display="files"/>
        <p:growl id="growl" showDetail="true"/>

    </h:panelGrid>

</ui:composition>