<?xml version="1.0" encoding="UTF-8"?>

<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">
    <h:form enctype="multipart/form-data">
        <p:wizard flowListener="#{projectController.onFlowProcess}">

            <p:tab id="upload-zip-info" title="Project informations">
                <ui:include src="uploadFileStep1.xhtml"/>
            </p:tab>

            <p:tab id="upload-zip" title="Zip file upload">
                <ui:include src="uploadZipStep2.xhtml"/>
            </p:tab>

        </p:wizard>
    </h:form>
</ui:composition>