<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>#{empty pageTitle ? 'Code Portal' : pageTitle}</title>
        <h:outputStylesheet name="css/styles.css" />
        <h:outputStylesheet name="css/bootstrap.css" />
    </h:head>

    <h:body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <h:link id="brandLink" outcome="/index.xhtml" styleClass="brand">Home</h:link>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><h:link outcome="/pages/overview/main.xhtml">Overview of projects</h:link></li>
                        </ul>
                        <ui:insert name="search">
                            <ui:include src="/pages/search/search.xhtml"/>
                        </ui:insert>
                    </div>
                </div>
            </div>
        </div>

        <div class="container forgecontainer">
            <div id="navigation">
                <h:link id="homeLink" outcome="/index.xhtml"/>
                <ul/>
            </div>

            <div id="content">
                <h1>
                    <ui:insert name="header" />
                </h1>
                <h2>
                    <ui:insert name="subheader" />
                </h2>

                <ui:insert name="main" />
            </div>
        </div>

        <footer>
            <ui:insert name="footer" />
        </footer>

    </h:body>
</html>
