<?xml version="1.0" encoding="UTF-8"?>

<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">
    <h:form>
        <div id="board">
            <p:dashboard model="#{dashboardController.dashboardModel}" disabled="true">

                <p:panel id="#{DashboardConstants.TAG_CLOUD}" header="Tags">
                    <ui:include src="tagCloud.xhtml"/>
                </p:panel>

                <p:panel id="#{DashboardConstants.LANGUAGE_CLOUD}" header="Languages">
                    <ui:include src="languageCloud.xhtml"/>
                </p:panel>

                <p:panel id="#{DashboardConstants.TOP_DOWNLOADED}" header="Most downloaded">
                    <ui:include src="mostDownloaded.xhtml"/>
                </p:panel>

                <p:panel id="#{DashboardConstants.TOP_RATED}" header="Top rated">
                    <ui:include src="mostRated.xhtml"/>
                </p:panel>

            </p:dashboard>
        </div>
    </h:form>

    <ui:include src="dataGrid.xhtml"/>

</ui:composition>