<?xml version="1.0" encoding="UTF-8"?>

<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">
    <h:form prependId="false" id="board-grid">
        <!--@elvariable id="p" type="cz.vut.fit.gja.dto.ProjectDto"-->
        <p:dataTable id="dataTable" var="p"
                     rendered="#{projectController.filtered}"
                     value="#{projectController.findAllByFilter()}"
                     paginator="true" rows="10"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="5,10,15">
            <f:facet name="header">
                Projects
            </f:facet>

            <p:column width="10%">
                <f:facet name="header">
                    <h:outputText value="View Detail" />
                </f:facet>
            <p:commandButton icon="ui-icon-search" title="View Detail" action="#{projectController.redirectToProjectUrl(p.id)}"/>
            </p:column>

            <p:column>
                <f:facet name="header">
                    <h:outputText value="Title" />
                </f:facet>
                <h:outputText value="#{p.title}" />
            </p:column>

            <p:column>
                <f:facet name="header">
                    <h:outputText value="Language" />
                </f:facet>
                <h:outputText value="#{p.languageDto.name}" />
            </p:column>

        </p:dataTable>
    </h:form>

</ui:composition>