<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
<ui:composition template="/resources/template/main.xhtml">

    <ui:param name="pageTitle" value="Code Portal" />

    <ui:define name="header">
        Code Portal
    </ui:define>

    <ui:define name="main">
        <ui:include src="dashboard.xhtml"/>
    </ui:define>

</ui:composition>
</html>
