<?xml version="1.0" encoding="UTF-8"?>

<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">

    <!--@elvariable id="p" type="cz.vut.fit.gja.dto.ProjectDto"-->
    <p:dataList value="#{dashboardController.mostDownloaded}" var="p"
                paginator="true" rows="5"
                paginatorAlwaysVisible="false"
                paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,15" type="none">

        <div class="item">
            <p:commandButton icon="ui-icon-search" title="View Detail" action="#{dashboardController.detail(p.id)}"/>

            <h:outputText value="#{p.title} (#{p.languageDto != null ? p.languageDto.name : 'unknown language' })" style="margin-left:10px" />
        </div>
    </p:dataList>

</ui:composition>