<?xml version="1.0" encoding="UTF-8"?>

<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">
    <p:tagCloud model="#{dashboardController.tagCloudModel}">  
        <p:ajax event="select" update=":#{p:component('board-grid')} msg" listener="#{dashboardController.onTagSelect}" />  
    </p:tagCloud>  
</ui:composition>